:root {
  --color-primary: #222;
  --btn-color: #151515;
  --color-secondary: #323232;
  --white-color: #fff;
  --border-color: #ccc;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
::selection {
  background: #2584ff;
  color: #fff;
}
img {
  width: 100%;
  border: 0;
}
ol,
ul,
li {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus {
  outline: none;
}
/* .Typography */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #323232;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 1rem;
}
h1 {
  color: #323232; /* fixme to white */
  font-size: 5rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.8rem;
  color: #141414;
}

p {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3.5rem;
    color: #141414;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 10rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 4.5rem;
    color: #141414;
  }
}
/* .Links */
.links {
  display: inline-block;
  padding: 1rem 2.2rem;
  text-transform: capitalize;
}
.link--primary {
  background: var(--color-secondary);
  color: var(--white-color);
}
.link--secondary {
  background: #fefeff;
  color: var(--color-secondary);
}
/* .Buttons */
.btn {
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-align: center;
  white-space: nowrap;
  margin: 1rem 0;
}
.btn--primary {
  background: var(--color-primary);
  color: var(--white-color);
}
.btn--secondary {
  background: var(--btn-color);
  color: var(--white-color);
}
/* .Icons */
.icon {
  width: 70px;
  height: 85px;
}
.icon--primary {
  fill: var(--white-color);
}
/* .List */
.list {
  background: var(--color-secondary);
}
.list .list__item {
  color: var(--white-color);
}

/* .Features block  */

@media screen and (min-width: 1024px) {
  .features-block .grid--1x3 {
    grid-template-columns: 50% 50%;
  }
}

/* .Input Group */
.input-group {
  max-width: 500px;
  padding: 2rem;
  margin-bottom: 2rem;
}

label {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
label:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 6px;
  width: 7rem;
  background: var(--color-primary);
}
input,
textarea {
  outline: none;
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 1rem;
}
textarea {
  resize: none;
  height: 150px;
}
::placeholder {
  font-size: 1.4rem;
  opacity: 0.5;
}
.input-group__name {
  margin-top: 3rem;
}
.input-group__name,
.input-group__number,
.input-group__email,
.input-group__message {
  margin-bottom: 2.5rem;
}
.input-group__btn {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 2.3rem 4.3rem;
  background-color: var(--color-secondary);
  color: white;
}
@media screen and (min-width: 768px) {
  label {
    font-size: 4.5rem;
  }
  label:before {
    width: 9rem;
    background: var(--color-primary);
  }
  input,
  textarea {
    padding: 2rem;
  }
  ::placeholder {
    font-size: 1.6rem;
  }
  .input-group__btn {
    margin-top: 1rem;
    padding: 3rem 6rem;
    font-weight: bold;
    font-size: 1.8rem;
  }
}
/* .Block Input */
@media screen and (min-width: 1024px) {
  .block-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
  }
  .block-input .grid--1x3 {
    grid-template-columns: 50% 50%;
  }
}

/* .Testimonial */
.testimonial {
  overflow: hidden;
  padding: 1rem;
  max-width: 500px;
  width: 100%;
}
.swiper {
  width: 100%;
}
.swiper-slide {
  margin-top: 3rem;
}
.slide {
  bottom: none;
  padding: 2rem;
  background: var(--white-color);
  box-shadow: 0 0 8px 1px #ccce;
  position: relative;
  margin: 1.5rem;
}
.swiper__sub {
  text-align: center;
  font-size: 3rem;
  color: var(--color-secondary);
}

.slide__icon {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  color: var(--color-secondary);
  white-space: nowrap;
}

.swiper__img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5rem;
  transform: translateY(-4rem);
}
.user__info {
  margin-top: -2rem;
}

.user,
.user__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.user__name {
  text-transform: capitalize;
  font-size: 3rem;
}
.fa-star-half-alt,
.fa-star {
  color: #f2a842;
  white-space: nowrap;
}

.container__chevron {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.fa-chevron-left,
.fa-chevron-right {
  padding: 1.5rem 2.5rem;
  background: white;
  box-shadow: 0 0 8px 1px #8e8b8b5f;
  margin: 1rem;
  font-size: 2rem;
  transition: all 0.4s;
  cursor: pointer;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  background: var(--color-primary);
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .swiper__sub {
    text-align: left;
    font-size: 4.5rem;
  }
  .user {
    flex-flow: row nowrap;
    justify-content: stretch;
  }
  .slide > p {
    margin-top: -1rem;
  }
  .slide__icon {
    font-size: 2.5rem;
    right: 30px;
    top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial {
    display: flex;
    flex-flow: column nowrap;
    max-height: 800px;
    transform: translateY(-2rem);
  }
  .swiper__header {
    flex: 2 0 170px;
  }
}
/* .Container */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
/* .Grids */
.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* .Plan */
.plan {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.plan__header {
  text-align: center;
  margin-bottom: 2rem;
}
.plan__heading {
  text-transform: uppercase;
  font-size: 3.4rem;
  position: relative;
}
.plan__heading::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  bottom: -1rem;
  left: 42%;
  background: var(--color-primary);
}
@media screen and (min-width: 768px) {
  .plan__header {
    margin-bottom: 3rem;
  }
  .plan__heading {
    font-size: 4rem;
  }
  .plan__heading::before {
    left: 45.3%;
    width: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .plan__header {
    margin-bottom: 4rem;
  }
  .plan__heading::before {
    left: 46.5%;
  }
}

/* .Card */

.card-container {
  padding: 2rem;
}
.card {
  max-width: 350px;
  border: 1px solid rgba(187, 187, 187, 0.345);
  padding: 2rem 3rem 3rem 3rem;
  transition: ease-in-out 0.4s;
}
.card:hover {
  border: 1px solid #000;
}
.card__sub {
  width: 100px;
  margin-top: 1rem;
  font-size: 2.2rem;
  text-transform: capitalize;
  color: var(--color-secondary);
  /* padding: 0 12rem 0 0; */
}
.card__description {
  margin: 2rem 0 3rem 0;
}
.card__link {
  display: flex;
  justify-content: flex-end;
}

/* .Features Block */
.features {
  padding: 3rem 0;
}
.features {
  background: var(--color-secondary);
}
.features__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-transform: capitalize;
  padding: 1rem;
}
.features__heading {
  position: relative;
  font-size: 3rem;
  color: var(--white-color);
}
.features__heading::before {
  position: absolute;
  content: "";
  bottom: -1.3rem;
  left: 0;
  width: 60px;
  height: 4px;
  background: var(--white-color);
}
.features__container {
  width: 100%;
  margin: 2rem 0;
}
.features__container .grid {
  row-gap: 4rem;
}

.features__card {
  padding: 1.5rem;
  width: 280px;
  overflow: hidden;
}

.features__icon {
  fill: var(--white-color);
}
.features__title {
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 3rem;
}
.features__title,
.features__price {
  color: var(--white-color);
}
.features__price {
  font-size: 4rem;
}

.features__btn {
  background: var(--white-color);
  color: var(--color-secondary);
  display: block;
  width: 80%;
  margin-bottom: 0;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .features__title {
    font-size: 3.4rem;
  }
  .features__price {
    font-size: 4.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .features__container {
    max-width: 1170px;
    margin: 0 auto;
  }
  .features__header {
    margin-bottom: 3rem;
    padding-left: 5rem;
    justify-content: stretch;
  }
}
