<div class="collapsible-wrapper">
  <div class="collapsible__container collapsible--expanded">
    <header class="collapsible__header">
      <h6 class="collapsible__collapse">useful link</h6>
    </header>
    <div class="collapsible__content">
      <a href="#" class="collapsible__item">home</a
      ><a href="#" class="collapsible__item">about</a
      ><a href="#" class="collapsible__item">what we do</a
      ><a href="#" class="collapsible__item">portfolio</a
      ><a href="#" class="collapsible__item">why choose us</a
      ><a href="#" class="collapsible__item">contact us</a>
    </div>
  </div>
  <div class="collapsible__container collapsible--expanded">
    <header class="collapsible__header">
      <h6 class="collapsible__collapse">useful link</h6>
    </header>
    <div class="collapsible__content">
      <a href="#" class="collapsible__item">home</a
      ><a href="#" class="collapsible__item">about</a
      ><a href="#" class="collapsible__item">what we do</a
      ><a href="#" class="collapsible__item">portfolio</a
      ><a href="#" class="collapsible__item">why choose us</a
      ><a href="#" class="collapsible__item">contact us</a>
    </div>
  </div>
  <div class="collapsible__container collapsible--expanded">
    <header class="collapsible__header">
      <h6 class="collapsible__collapse">useful link</h6>
    </header>
    <div class="collapsible__content">
      <a href="#" class="collapsible__item">home</a
      ><a href="#" class="collapsible__item">about</a
      ><a href="#" class="collapsible__item">what we do</a
      ><a href="#" class="collapsible__item">portfolio</a
      ><a href="#" class="collapsible__item">why choose us</a
      ><a href="#" class="collapsible__item">contact us</a>
    </div>
  </div>
  <div class="collapsible__container collapsible--expanded">
    <header class="collapsible__header">
      <h6 class="collapsible__collapse">useful link</h6>
    </header>
    <div class="collapsible__content">
      <a href="#" class="collapsible__item">home</a
      ><a href="#" class="collapsible__item">about</a
      ><a href="#" class="collapsible__item">what we do</a
      ><a href="#" class="collapsible__item">portfolio</a
      ><a href="#" class="collapsible__item">why choose us</a
      ><a href="#" class="collapsible__item">contact us</a>
    </div>
  </div>
</div>
