<!-- .Features Block -->
<section class="features">
  <div class="main-container">
    <div class="features__header">
      <h4 class="features__heading">why choose us</h4>
    </div>
    <div class="features__container">
      <div class="grid grid--1x3">
        <div class="features__card">
          <svg class="icon features__icon">
            <use xlink:href="../img/sprite.svg#web"></use>
          </svg>
          <h5 class="features__title">project done</h5>
          <h6 class="features__price">1000+</h6>
          <a href="#" class="btn features__btn">read more</a>
        </div>
        <div class="features__card">
          <svg class="icon features__icon">
            <use xlink:href="../img/sprite.svg#users"></use>
          </svg>
          <h5 class="features__title">happy client</h5>
          <h6 class="features__price">900+</h6>
          <a href="#" class="btn features__btn">read more</a>
        </div>
        <div class="features__card">
          <svg class="icon features__icon">
            <use xlink:href="../img/sprite.svg#award"></use>
          </svg>
          <h5 class="features__title">awards</h5>
          <h6 class="features__price">100+</h6>
          <a href="#" class="btn features__btn">read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
