<!-- .Footer Block -->
<footer class="footer">
  <div class="footer__container main-container">
    <div class="footer__header">
      <div class="logo footer__logo">
        <a href="index.html" class="logo__item">hightech</a>
      </div>
      <form class="footer__input">
        <input class="input" type="text" placeholder="Enter your email" />
        <button type="submit" class="btn footer__btn">subscribe now</button>
      </form>
    </div>
    <div class="collapsible-wrapper">
      <div class="collapsible__container collapsible--expanded">
        <header class="collapsible__header">
          <h6 class="collapsible__collapse">useful link</h6>
        </header>
        <div class="collapsible__content">
          <a href="#" class="collapsible__item">home</a
          ><a href="#" class="collapsible__item">about</a
          ><a href="#" class="collapsible__item">what we do</a
          ><a href="#" class="collapsible__item">portfolio</a
          ><a href="#" class="collapsible__item">why choose us</a
          ><a href="#" class="collapsible__item">contact us</a>
        </div>
      </div>
      <div class="collapsible__container collapsible--expanded">
        <header class="collapsible__header">
          <h6 class="collapsible__collapse">news</h6>
        </header>
        <div class="collapsible__content">
          <a href="#" class="collapsible__item">home</a
          ><a href="#" class="collapsible__item">about</a
          ><a href="#" class="collapsible__item">what we do</a
          ><a href="#" class="collapsible__item">portfolio</a
          ><a href="#" class="collapsible__item">why choose us</a
          ><a href="#" class="collapsible__item">contact us</a>
        </div>
      </div>
      <div class="collapsible__container collapsible--expanded">
        <header class="collapsible__header">
          <h6 class="collapsible__collapse">company</h6>
        </header>
        <div class="collapsible__content">
          <a href="#" class="collapsible__item">home</a
          ><a href="#" class="collapsible__item">about</a
          ><a href="#" class="collapsible__item">what we do</a
          ><a href="#" class="collapsible__item">portfolio</a
          ><a href="#" class="collapsible__item">why choose us</a
          ><a href="#" class="collapsible__item">contact us</a>
        </div>
      </div>
      <div class="collapsible__container collapsible--expanded">
        <header class="collapsible__header">
          <h6 class="collapsible__collapse">contact us</h6>
        </header>
        <div class="collapsible__content">
          <a href="#" class="collapsible__item">
            <span class="ico--font icofont-location-pin"> location</span>
          </a>
          <a href="#" class="collapsible__item">
            <span class="ico--font icofont-ui-call"> call +01234567890</span>
          </a>
          <a href="#" class="collapsible__item">
            <span class="ico--font icofont-email"> demo@gmail.com</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__bottom__container main-container">
      <div class="footer__copyright">&copy; Copyright 2022</div>
      <div class="footer__social">
        <span class="fab fa-facebook"></span>
        <span class="fab fa-twitter"></span>
        <span class="fab fa-linkedin"></span>
        <span class="fab fa-instagram"></span>
        <span class="fab fa-youtube"></span>
      </div>
    </div>
  </div>
</footer>
