<!-- .Input Group -->
<section class="block-input main-container">
  <div class="grid grid--1x3">
    <div class="input-group">
      <form action="index.html">
        <label for="name">Get in touch</label>
        <div class="input-group__name">
          <input type="text" name="name" id="name" placeholder="Name" />
        </div>
        <div class="input-group__number">
          <input type="tel" id="phone" placeholder="Phone Number" required />
        </div>
        <div class="input-group__email">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="input-group__message">
          <textarea
            rows="4"
            cols="30"
            placeholder="Message"
            maxlength="500"
          ></textarea>
        </div>
        <button class="btn btn-primary input-group__btn" type="submit">
          send now
        </button>
      </form>
    </div>
    <!-- .Testimonial -->
    <section class="testimonial">
      <header class="swiper__header">
        <h4 class="swiper__sub">What Says Clients</h4>
      </header>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide">
              <span class="slide__icon icofont-quote-left"></span>
              <div class="user">
                <img
                  src="../img/testimonial-img1.png "
                  alt="A happy smilling customer"
                  class="swiper__img"
                />
                <div class="user__info">
                  <h3 class="user__name">james smith</h3>
                  <div class="stars">
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star-half-alt"></span>
                  </div>
                </div>
              </div>
              <p class="slide__title">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem IpsumIt is a long established fact that
                a reader will be distracted by the readable content of a page
                when looking at its layout. The point of using Lorem Ipsum
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <span class="slide__icon icofont-quote-left"></span>
              <div class="user">
                <img
                  src="../img/testimonial-img2.jpg"
                  alt="A happy smilling customer"
                  class="swiper__img"
                />
                <div class="user__info">
                  <h3 class="user__name">james smith</h3>
                  <div class="stars">
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star-half-alt"></span>
                  </div>
                </div>
              </div>
              <p class="slide_title">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem IpsumIt is a long established fact that
                a reader will be distracted by the readable content of a page
                when looking at its layout. The point of using Lorem Ipsum
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <span class="slide__icon icofont-quote-left"></span>
              <div class="user">
                <img
                  src="../img/testimonial-img3.jpg "
                  alt="A happy smilling customer"
                  class="swiper__img"
                />
                <div class="user__info">
                  <h3 class="user__name">james smith</h3>
                  <div class="stars">
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star-half-alt"></span>
                  </div>
                </div>
              </div>
              <p class="slide_title">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem IpsumIt is a long established fact that
                a reader will be distracted by the readable content of a page
                when looking at its layout. The point of using Lorem Ipsum
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <span class="slide__icon icofont-quote-left"></span>
              <div class="user">
                <img
                  src="../img/testimonial-img4.jpg "
                  alt="A happy smilling customer"
                  class="swiper__img"
                />
                <div class="user__info">
                  <h3 class="user__name">james smith</h3>
                  <div class="stars">
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star-half-alt"></span>
                  </div>
                </div>
              </div>
              <p class="slide_title">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem IpsumIt is a long established fact that
                a reader will be distracted by the readable content of a page
                when looking at its layout. The point of using Lorem Ipsum
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <span class="slide__icon icofont-quote-left"></span>
              <div class="user">
                <img
                  src="../img/testimonial-img5.jpg"
                  alt="A happy smilling customer"
                  class="swiper__img"
                />
                <div class="user__info">
                  <h3 class="user__name">james smith</h3>
                  <div class="stars">
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="fas fa-star"></span>
                    <span class="far fa-star-half-alt"></span>
                  </div>
                </div>
              </div>
              <p class="slide_title">
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem IpsumIt is a long established fact that
                a reader will be distracted by the readable content of a page
                when looking at its layout. The point of using Lorem Ipsum
              </p>
            </div>
          </div>
        </div>
        <div class="container__chevron">
          <span class="fas fa-chevron-left"></span>
          <span class="fas fa-chevron-right"></span>
        </div>
      </div>
    </section>
  </div>
</section>
