<!-- Input Group -->
<div class="input-group">
  <form action="index.html">
    <label for="name">Get in touch</label>
    <div class="input-group__name">
      <input type="text" name="name" id="name" placeholder="Name" />
    </div>
    <div class="input-group__number">
      <input type="tel" id="phone" placeholder="Phone Number" required />
    </div>
    <div class="input-group__email">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="input-group__message">
      <textarea
        rows="4"
        cols="30"
        placeholder="Message"
        maxlength="500"
      ></textarea>
    </div>
    <button class="btn btn-primary input-group__btn" type="submit">
      send now
    </button>
  </form>
</div>
