<!-- .Media Block -->
<section class="media">
  <div class="media__header main-container">
    <h3 class="media__name">we have done projects</h3>
  </div>
  <div class="media-container main-container">
    <div class="media__content">
      <div class="media__img">
        <img src="../img/media-4.png" alt="Media pictures" />
      </div>
      <div class="media__body">
        <div class="media__icon">
          <span class="fas fa-search media__search"></span>
          <span class="fas fa-link media__link"></span>
        </div>
        <h3 class="media__heading">Carrency Dashbord</h3>
        <p class="media__title">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable
        </p>
      </div>
    </div>
    <div class="media__content">
      <div class="media__img">
        <img src="../img/media-2.png" alt="Media pictures" />
      </div>
      <div class="media__body">
        <div class="media__icon">
          <span class="fas fa-search media__search"></span>
          <span class="fas fa-link media__link"></span>
        </div>
        <h3 class="media__heading">Carrency Dashbord</h3>
        <p class="media__title">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable
        </p>
      </div>
    </div>
    <div class="media__content">
      <div class="media__img">
        <img src="../img/media-3.png" alt="Media pictures" />
      </div>
      <div class="media__body">
        <div class="media__icon">
          <span class="fas fa-search media__search"></span>
          <span class="fas fa-link media__link"></span>
        </div>
        <h3 class="media__heading">Carrency Dashbord</h3>
        <p class="media__title">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable
        </p>
      </div>
    </div>
    <div class="media__content">
      <div class="media__img">
        <img src="../img/media-4.png" alt="Media pictures" />
      </div>
      <div class="media__body">
        <div class="media__icon">
          <span class="fas fa-search media__search"></span>
          <span class="fas fa-link media__link"></span>
        </div>
        <h3 class="media__heading">Carrency Dashbord</h3>
        <p class="media__title">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable
        </p>
      </div>
    </div>
  </div>
  <div class="media-btn">
    <a href="#" class="btn media-btn__link">see more</a>
  </div>
</section>
