<!-- .Nav Bar -->
<header class="header">
  <div class="header__container main-container">
    <nav class="header__nav collapsible__container">
      <div class="logo header__logo">
        <a href="index.html" class="logo__item">hightech</a>
      </div>
      <div class="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="list header__list collapsible__content">
        <li class="header__item"><a href="#">home</a></li>
        <li class="header__item"><a href="#">about</a></li>
        <li class="header__item"><a href="#">what we do</a></li>
        <li class="header__item"><a href="#">portfolio</a></li>
        <li class="header__item"><a href="#">contact us</a></li>
      </ul>
      <a href="#" class="header__login">login</a>
      <span class="header__search icofont-search"></span>
    </nav>
  </div>
</header>
