<!-- .Plan -->
<section class="plan main-container">
  <div class="plan__header">
    <h4 class="plan__heading">what we do</h4>
  </div>
  <div class="card-container">
    <div class="grid grid--1x3">
      <div class="card">
        <svg class="icon card__icon">
          <use xlink:href="../img/sprite.svg#website"></use>
        </svg>
        <h3 class="card__sub">website development</h3>
        <p class="card__description">
          many variations of passages of Lorem Ipsum available, but the majority
          have suffered alteration in some form, by injected humour, or
          randomised words which
        </p>
        <div class="card__link">
          <a href="#" class="links link--primary">read more</a>
        </div>
      </div>
      <div class="card">
        <svg class="icon card__icon">
          <use xlink:href="../img/sprite.svg#app"></use>
        </svg>
        <h3 class="card__sub">App development</h3>
        <p class="card__description">
          many variations of passages of Lorem Ipsum available, but the majority
          have suffered alteration in some form, by injected humour, or
          randomised words which
        </p>
        <div class="card__link">
          <a href="#" class="links link--primary">read more</a>
        </div>
      </div>
      <div class="card">
        <svg class="icon card__icon">
          <use xlink:href="../img/sprite.svg#design"></use>
        </svg>
        <h3 class="card__sub">website design</h3>
        <p class="card__description">
          many variations of passages of Lorem Ipsum available, but the majority
          have suffered alteration in some form, by injected humour, or
          randomised words which
        </p>
        <div class="card__link">
          <a href="#" class="links link--primary">read more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container__chevron">
    <span class="fas fa-chevron-left btn-prev"></span>
    <span class="fas fa-chevron-right btn-next"></span>
  </div>
</section>
