<!-- .Showcase Block -->
<section class="showcase">
  <div class="showcase__conatainer">
    <div class="showcase__content">
      <div class="showcase__header">
        <h4 class="showcase__name">about company</h4>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have
        </p>
      </div>
    </div>
    <div class="pulsing-icon">
      <span class="fas fa-play pulsing__play"></span>
    </div>
    <div class="showcase__img">
      <picture>
        <source
          srcset="../img/showcase@1x.webp 1x, ../img/showcase@2x.webp 2x"
          media="(max-width:1024px)"
          type="image/webp"
        />
        <source
          srcset="../img/showcase@1x.png 1x, ../img/showcase@2x.png 2x"
          media="(max-width:1200px)"
          type="image/png"
        />
        <img src="../img/showcase@3x.png " alt="Happy customer" />
      </picture>
    </div>
  </div>
</section>
