<!-- testimonial -->
<section class="testimonial">
  <header class="swiper__header">
    <h4 class="swiper__sub">What Says Clients</h4>
  </header>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slide">
          <span class="icon icofont-quote-left"></span>
          <div class="user">
            <img
              src="../img/testimonial-img1.png "
              alt="A happy smilling customer"
              class="swiper__img"
            />
            <div class="user__info">
              <h3 class="user__name">james smith</h3>
              <div class="stars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star-half-alt"></span>
              </div>
            </div>
          </div>
          <p class="slide__title">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem IpsumIt is a long established fact that a reader will
            be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <span class="icon icofont-quote-left"></span>
          <div class="user">
            <img
              src="../img/testimonial-img2.jpg"
              alt="A happy smilling customer"
              class="swiper__img"
            />
            <div class="user__info">
              <h3 class="user__name">james smith</h3>
              <div class="stars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star-half-alt"></span>
              </div>
            </div>
          </div>
          <p class="slide_title">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem IpsumIt is a long established fact that a reader will
            be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <span class="icon icofont-quote-left"></span>
          <div class="user">
            <img
              src="../img/testimonial-img3.jpg "
              alt="A happy smilling customer"
              class="swiper__img"
            />
            <div class="user__info">
              <h3 class="user__name">james smith</h3>
              <div class="stars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star-half-alt"></span>
              </div>
            </div>
          </div>
          <p class="slide_title">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem IpsumIt is a long established fact that a reader will
            be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <span class="icon icofont-quote-left"></span>
          <div class="user">
            <img
              src="../img/testimonial-img4.jpg "
              alt="A happy smilling customer"
              class="swiper__img"
            />
            <div class="user__info">
              <h3 class="user__name">james smith</h3>
              <div class="stars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star-half-alt"></span>
              </div>
            </div>
          </div>
          <p class="slide_title">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem IpsumIt is a long established fact that a reader will
            be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide">
          <span class="icon icofont-quote-left"></span>
          <div class="user">
            <img
              src="../img/testimonial-img5.jpg"
              alt="A happy smilling customer"
              class="swiper__img"
            />
            <div class="user__info">
              <h3 class="user__name">james smith</h3>
              <div class="stars">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="far fa-star-half-alt"></span>
              </div>
            </div>
          </div>
          <p class="slide_title">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem IpsumIt is a long established fact that a reader will
            be distracted by the readable content of a page when looking at its
            layout. The point of using Lorem Ipsum
          </p>
        </div>
      </div>
    </div>
    <div class="container__chevron">
      <span class="fas fa-chevron-left"></span>
      <span class="fas fa-chevron-right"></span>
    </div>
  </div>
</section>
